$desktop-width: 1240px;
$tablet-mobile-width: 100%;

.sheet {
  min-height: calc(100vh - 140px);
  @include flex(column);
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $white;
  padding: $padding-desktop;
  margin: 70px auto 10px;
}

.navigation {
  @include flex();
  justify-content: flex-end;
  align-items: center;
  background-color: $dark_indigo;
  padding: $padding-desktop-maxi;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;

  &__link {
    font-size: $font-m;
    font-weight: 900;
    text-decoration: none;
    color: $dark_indigo_35;
    transition: $transition;
    margin-left: 36px;

    &:hover,
    &:active {
      color: $white;
    }

    &-home {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 60px;
      transform: translate(0, -50%);
    }
  }
}

.footer {
  display: block;
  background-color: $dark_indigo_30;
  padding: $padding-desktop-maxi;
  margin: 0 auto;
}

.container {
  &__cards,
  &__groups {
    @include size(100%);
  }

  &__groups {
    @include flex(column);
  }
}

.button {
  border: none;
  cursor: pointer;
  transition: $transition;

  &:focus {
    outline: none;
  }

  &._back {
    @include flex();
    align-items: center;
    font-size: $font-m;
    font-weight: 500;
    color: $dark_indigo_95;
    background: transparent;
    padding: 0;
    margin-bottom: 36px;

    svg {
      margin-right: 10px;
    }

    &:hover,
    &:active {
      color: $red;
    }
  }

  &._classic {
    height: 50px;
    font-size: $font-l;
    color: $white;
    background-color: $red-orange;
    border-radius: $border-radius;
    padding: 0 25px;
    margin: 36px 0;

    &:hover {
      background-color: $red-orange-hover;
    }

    &:active {
      background-color: $red-orange1-active;
    }
  }

  &._scroll-top {
    @include size(48px, 48px);
    @include flex();
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 36px;
    right: 6px;
    z-index: 10;
    background-color: $red_90;
    border-radius: 50%;

    svg {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: $red;
    }

    &:active {
      background-color: darken($red, 10%);
    }
  }
}

h1 {
  font-size: $font-xxl;
  font-weight: 900;
  line-height: $line-extra;
  color: $dark_indigo_95;
}

h2 {
  font-size: $font-xxl;
  font-weight: normal;
  line-height: $line-normal;
  color: $dark_indigo_95;
}

h3 {
  font-size: $font-xl;
  font-weight: normal;
  line-height: $line-normal;
  color: $red_90;
}

p {
  font-size: $font-m;
  font-weight: normal;
  line-height: $line-normal;
  color: $dark_indigo_95;
  margin: 9px 0;
}

@media screen and (min-width: 1367px) {
  .sheet {
    width: $desktop-width;
    border-radius: $border-radius;
  }

  .navigation {
    @include size($desktop-width, 60px);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .footer {
    width: $desktop-width;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
  }

  .container {
    &__cards {
      @include flex(row, wrap);
      justify-content: flex-start;
    }
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .sheet {
    width: $tablet-mobile-width;
  }

  .navigation {
    @include size($tablet-mobile-width, 60px);
  }

  .footer {
    width: $tablet-mobile-width;
  }

  .container {
    &__cards {
      @include flex(row, wrap);
      justify-content: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .sheet {
    width: $tablet-mobile-width;
    padding: $padding-mobile;
  }

  .navigation {
    @include size($tablet-mobile-width, 60px);
    padding: $padding-desktop-maxi-mobile;

    &__link {
      font-weight: 500;
      margin: 0 10px;


      &-home {
        left: 20px;
      }
    }
  }

  .footer {
    padding: $padding-mobile;
  }

  .container {
    &__cards {
      @include flex(row, wrap);
      justify-content: center;
    }
  }

  .button {
    &._back {
      font-size: $font-s;
      margin-bottom: 18px;
    }

    &._classic {
      height: 46px;
      font-size: $font-m;
      margin: 9px 0 18px;
    }

    &._scroll-top {
      @include size(32px, 32px);
      bottom: 8px;
      right: 4px;
      opacity: .5;

      svg {
        @include size(18px !important, 18px !important);
      }
    }
  }

  h1 {
    font-size: $font-xl;
    font-weight: 700;
  }

  h2 {
    font-size: $font-xl;
  }

  h3 {
    font-size: $font-l;
  }

  p {
    font-size: $font-s;
    margin: 8px 0;
  }
}
