// Color palette
// Interface
$dark_indigo: #0B1F35;
$dark_indigo_50: #858F9A;
$dark_indigo_30: #B6BCC3;
$red: #EF3124;
$red_90: #F04539;
$red_error: #FF5C5C;
//Button
$red-orange: #f03226D9;
$red-orange-hover: #f03226;
$red-orange1-active: #9E0C00;
// Text
$dark_indigo_95: #172A3F;
$dark_indigo_70: #546271;
$dark_indigo_60: #6D7986;
$dark_indigo_35: #B5BBC2;
// Background
$bg_personal: #0E3464;
$dark_indigo_05: #F3F4F5;
//Neutral
$white: #FFF;

//Font sizes
$font-xxs: 11px;
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 22px;
$font-xxl: 30px;

//Line heights
$line-normal: 1.4;
$line-semi-condensed: 1.3;
$line-condensed: 1.2;
$line-extra: 1.1;

//Icon >> 48px or 24px
//Padding/margin >> 36px or 18px

//Padding
$padding-desktop: 36px 60px;
$padding-desktop-maxi: 18px 60px;
$padding-desktop-mini: 36px 18px;
$padding-mobile: 16px 20px;
$padding-desktop-maxi-mobile: 8px 10px;

//Transitions
$transition: all .5s ease;

//Border radius
$border-radius: 4px;

//Media screens
$desktop: screen and (min-width: 1367px);
$tablet: (min-width: 768px) and (max-width: 1366px);
$mobile: (min-width: 320px) and (max-width: 767px);
// @media #{$desktop} { Style }
