.test-page {
  &__title {
    @include size(100%);
    margin: 18px 0 36px;

    p {
      color: $dark_indigo_60;
    }
  }

  &__wrapper {
    @include size(100%);
    @include flex();
  }

  &__container {
    &._result {
      @include size(316px, 440px);
      padding-left: 36px;
      background: url("~/assets/images/question-mark.png") no-repeat center;
    }

    &._options {
      width: calc(100% - 316px);
      @include flex(column);
      align-items: flex-start;
      padding-right: 36px;
    }

    &_options {
      @include size(100%);
      @include flex(row, wrap);
      padding: 18px 0;
      margin-bottom: 18px;
      border-radius: $border-radius;
      background-color: $dark_indigo_05;
      border-bottom: 1px solid transparent;
      transition: $transition;

      &._error {
        border-bottom-color: $red_error;
      }

      &-option {
        @include size(50%);
        padding: 0 36px;
      }
    }
  }
}

@media screen and (min-width: 1367px) {
  .test-page {
    &__container {
      &._options {
        padding-right: 36px;
      }
    }
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .test-page {
    &__container {
      &._options {
        padding-right: 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .test-page {
    &__wrapper {
      flex-wrap: wrap;
    }

    &__container {
      &._options {
        width: 100%;
        padding-right: 0;
      }

      &._result {
        @include size(100%, auto);
        padding-left: 0;
        background: none;
        @include flex();
        justify-content: center;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .test-page {
    &__title {;
      margin: 0 0 18px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__container {
      &._options {
        width: 100%;
        padding-right: 0;
      }

      &._result {
        @include size(100%, auto);
        padding-left: 0;
        background: none;
        @include flex();
        justify-content: center;
      }

      &_options {
        padding: 10px 0;
        margin-bottom: 18px;

        &-option {
          min-width: 200px;
          padding: 9px 18px;
        }
      }
    }
  }
}