.type-page {
  @include size(100%);
  @include flex(column);

  &__wrap {
    @include size(100%);
    @include flex();
  }

  &__img {
    width: 400px;
    margin-right: 36px;

    img {
      width: 100%;
    }
  }

  &__content {
    width: calc(100% - 436px);
    @include flex(column);
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
      margin-bottom: 6px;
    }

    h3 {
      margin-bottom: 9px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .type-page {
    justify-content: center;

    &__wrap {
      flex-direction: column;
    }

    &__img {
      width: 100%;
      max-width: 400px;
      margin-right: 0;

      img {
        width: 100%;
      }
    }

    &__content {
      width: 100%;
      margin-top: 18px;
    }
  }
}