.radio {
  user-select: none;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__text {
    position: relative;
    padding: 0 0 0 26px;
    font-size: $font-m;
    line-height: $line-normal;
    color: $dark_indigo_95;
    cursor: pointer;

    &:before {
      content: '';
      @include size(16px, 16px);
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $red;
      border-radius: 50%;
      background: $white;
    }

    &:after {
      content: '';
      @include size(10px, 10px);
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 50%;
      background: $red;
      opacity: 0;
      transition: .2s;
    }
  }
}

.radio input:checked + .radio__text:after {
  opacity: 1;
}
