.group-card {
  @include size(100%);
  border-bottom: 2px solid $dark_indigo_05;
  margin-bottom: 36px;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }

  &__title {
    @include size(100%);
    @include flex();
    align-items: center;
    border-radius: $border-radius;
    background: $dark_indigo_05;
    padding: $padding-desktop-maxi;
    margin-bottom: 36px;

    &_icon {
      @include size(48px, 48px);
      @include flex();
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: $red;
      margin-right: 18px;
    }
  }

  &__text {
  }

  &__show-hide {
    margin: 36px 0 18px;
    background: $dark_indigo_05;
    position: relative;

    button {
      font-size: $font-s;
      font-weight: 500;
      color: $dark_indigo_70;
      padding: 2px 18px;
      background: $white;
      border: none;
      position: absolute;
      top: 0;
      left: calc(60px - 18px);
      transform: translate(0, -50%);
      cursor: pointer;
      transition: $transition;

      &:focus {
        outline: none;
      }

      &:hover,
      &:active {
        color: $dark_indigo;
      }
    }
  }

  &__cards {
    @include size(100%);
    @include flex(row, wrap);
  }
}

@media screen and (min-width: 1367px) {
  .group-card {
    &__show-hide {
      @include size(30%, 1px);
    }
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .group-card {
    &__show-hide {
      @include size(50%, 1px);
    }

    &__cards {
      justify-content: center;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .group-card {
    padding-bottom: 8px;
    margin-bottom: 18px;

    &__title {
      padding: $padding-desktop-maxi-mobile;
      margin-bottom: 18px;

      &_icon {
        margin-left: 8px;
      }
    }

    &__show-hide {
      @include size(50%, 1px);
      min-width: 240px;
      margin: 18px 0 18px;

      button {
        left: 18px;
        font-size: $font-xs;
        padding: 4px 18px;
      }
    }

    &__cards {
      justify-content: center;
      padding: 8px 0;
    }
  }
}
