.type-card {
  @include size(253px, 404px);
  @include flex(column);
  padding: $padding-desktop-mini;
  border-radius: $border-radius;
  background: $bg_personal;
  user-select: none;
  cursor: pointer;
  transition: $transition;
  position: relative;

  &:hover,
  &:active {
    background-color: $dark_indigo;
  }

  &__wrapper {
    display: block;
    text-decoration: none;
  }

  &__img {
    @include size(100%, auto);
    margin-bottom: 18px;
  }

  &__icon {
    @include size(48px, 48px);
    @include flex();
    justify-content: center;
    align-items: center;
    background-color: $dark_indigo_05;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    right: 26px;
  }

  &__name {
    font-size: $font-xl;
    color: $white;
    line-height: $line-normal;
  }

  &__type {
    font-size: $font-xs;
    color: $dark_indigo_35;
    line-height: $line-semi-condensed;
  }
}

@media screen and (min-width: 1367px) {
  .type-card {
    &__wrapper {
      margin: 18px 36px 18px 0;

      &:nth-child(4n) {
        margin: 18px 0;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .type-card {
    &__wrapper {
      margin: 18px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .type-card {
    &__wrapper {
      margin: 8px;
    }
  }
}