.tooltip {
  position: relative;

  &__title {
    display: block;
    height: auto;
    max-width: 310px;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    z-index: 10;
    background-color: $dark_indigo_70;
    padding: 9px 18px;
    border-radius: $border-radius;
    font-size: $font-s;
    line-height: $line-normal;
    color: $dark_indigo_30;
    user-select: none;

    &:after {
      content: '';
      position: absolute;
      left: 26px;
      top: 0;
      transform: translate(0, -100%);
      border-width: 8px;
      border-style: solid;
      border-color: transparent transparent $dark_indigo_70;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .tooltip {
    &__title {
      min-width: calc(100% + 18px);
      padding: 8px;
      font-size: $font-xxs;
      line-height: $line-semi-condensed;
    }
  }
}