<template>
    <div class="container__groups">
        <SGroupCard v-for="group in $groups"
                    :key="group.id"
                    :type="group"/>
    </div>
</template>

<script>
    import SGroupCard from "../components/SGroupCard";

    export default {
        components: {SGroupCard}
    }
</script>
