<template>
    <div class="container__cards">
        <STypeCard v-for="item in $sociotypes"
                   :key="item.id"
                   :type="item"/>
    </div>
</template>

<script>
    import STypeCard from './../components/STypeCard.vue';

    export default {
        name: 'home',
        components: {
            STypeCard
        },
    }
</script>
