<template>
    <div class="test-page__wrapper">
        <div class="test-page__container _options">
            <div class="test-page__title">
                <h2>Пройдите тест и узнайте свой социотип!</h2>
                <p>Из каждой пары функций выберите одну, которая в наибольшей степени соответствует Вам.</p>
            </div>
            <!--Сенсорик или интуит?-->
            <div class="test-page__container_options"
                 :class="firstPairError ? '_error' : ''">
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.int.description">
                        <InputRadio id="int"
                                    name="sensInt"
                                    :label="$functions.int.name"
                                    :value="'int'"
                                    v-on:input="changeFirstPair('int')"/>
                    </Tooltip>
                </div>
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.sens.description">
                        <InputRadio id="sens"
                                    name="sensInt"
                                    :label="$functions.sens.name"
                                    :value="'sens'"
                                    v-on:input="changeFirstPair('sens')"/>
                    </Tooltip>
                </div>
            </div>
            <!--Логик или этик?-->
            <div class="test-page__container_options"
                 :class="secondPairError ? '_error' : ''">
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.log.description">
                        <InputRadio id="log"
                                    name="logEth"
                                    :label="$functions.log.name"
                                    :value="'log'"
                                    v-on:input="changeSecondPair('log')"/>
                    </Tooltip>
                </div>
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.eth.description">
                        <InputRadio id="eth"
                                    name="logEth"
                                    :label="$functions.eth.name"
                                    :value="'eth'"
                                    v-on:input="changeSecondPair('eth')"/>
                    </Tooltip>
                </div>
            </div>
            <!--Интроверт или экстраверт?-->
            <div class="test-page__container_options"
                 :class="thirdPairError ? '_error' : ''">
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.intro.description">
                        <InputRadio id="intro"
                                    name="vert"
                                    :label="$functions.intro.name"
                                    :value="'intro'"
                                    v-on:input="changeThirdPair('intro')"/>
                    </Tooltip>
                </div>
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.extra.description">
                        <InputRadio id="extra"
                                    name="vert"
                                    :label="$functions.extra.name"
                                    :value="'extra'"
                                    v-on:input="changeThirdPair('extra')"/>
                    </Tooltip>
                </div>
            </div>
            <!--Рационал или иррационал?-->
            <div class="test-page__container_options"
                 :class="fourthPairError ? '_error' : ''">
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.irr.description">
                        <InputRadio id="irr"
                                    name="ratio"
                                    :label="$functions.irr.name"
                                    :value="'irr'"
                                    v-on:input="changeFourthPair('irr')"/>
                    </Tooltip>
                </div>
                <div class="test-page__container_options-option">
                    <Tooltip :title="$functions.ratio.description">
                        <InputRadio id="ratio"
                                    name="ratio"
                                    :label="$functions.ratio.name"
                                    :value="'ratio'"
                                    v-on:input="changeFourthPair('ratio')"/>
                    </Tooltip>
                </div>
            </div>
            <button v-on:click="comparison"
                    class="button _classic">Показать результат
            </button>
        </div>
        <div class="test-page__container _result">
            <div v-if="index">
                <STypeCard :type="$sociotypes[index]"/>
            </div>
        </div>
    </div>
</template>

<script>
    import InputRadio from "../components/InputRadio";
    import STypeCard from "../components/STypeCard";
    import Tooltip from "../components/Tooltip";

    export default {
        name: "Test",
        components: {Tooltip, STypeCard, InputRadio},
        data() {
            return {
                index: undefined,
                firstPair: '',
                secondPair: '',
                thirdPair: '',
                fourthPair: '',
                allChecked: false,
                firstPairError: false,
                secondPairError: false,
                thirdPairError: false,
                fourthPairError: false,
            }
        },
        methods: {
            changeFirstPair(e) {
                this.firstPair = e;
                this.firstPairError = false
            },
            changeSecondPair(e) {
                this.secondPair = e;
                this.secondPairError = false
            },
            changeThirdPair(e) {
                this.thirdPair = e;
                this.thirdPairError = false
            },
            changeFourthPair(e) {
                this.fourthPair = e;
                this.fourthPairError = false
            },
            comparison() {
                if (!this.allChecked) {
                    if (this.firstPair === '') {
                        this.firstPairError = true
                    }
                    if (this.secondPair === '') {
                        this.secondPairError = true
                    }
                    if (this.thirdPair === '') {
                        this.thirdPairError = true
                    }
                    if (this.fourthPair === '') {
                        this.fourthPairError = true
                    }
                }
                console.clear();
                let array = [this.firstPair, this.secondPair, this.thirdPair, this.fourthPair];
                for (let i = 0; i < this.$sociotypes.length; i++) {
                    let array2 = this.$sociotypes[i].functions;
                    let counter = 0;
                    if (counter < 4) {
                        for (let b = 0; b < array2.length; b++) {
                            if (array2[b] === array[b]) {
                                counter++;
                                if (counter === 4) {
                                    this.index = i;
                                    break;
                                }
                            }
                        }
                    } else {
                        break;
                    }
                }
            },
            allRadioChecked() {
                if (this.firstPair !== '' && this.secondPair !== '' && this.thirdPair !== '' && this.fourthPair !== '') {
                    this.allChecked = true
                }
            }
        },
        watch: {
            firstPair(newState) {
                if (newState !== '') {
                    this.allRadioChecked();
                }
            },
            secondPair(newState) {
                if (newState !== '') {
                    this.allRadioChecked();
                }
            },
            thirdPair(newState) {
                if (newState !== '') {
                    this.allRadioChecked();
                }
            },
            fourthPair(newState) {
                if (newState !== '') {
                    this.allRadioChecked();
                }
            }
        }
    }
</script>