<template>
    <div class="type-page">
        <button v-on:click="back" class="button _back">
            <Icon xlink="back" fill="#EF3124" view-box="0 0 24 24"/>
            Назад
        </button>
        <div class="type-page__wrap">
            <div class="type-page__img">
                <img :src="require(`@/assets/images/avatars/${type.avatar}.jpg`)" alt="avatar"/>
            </div>
            <div class="type-page__content">
                <h1>{{type.nickname}}</h1>
                <h3>{{type.name}}</h3>
                <p v-for="i in type.specification" :key="i.id">{{i}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from "../components/icons/Icon.vue";

    export default {
        name: "Type",
        components: {Icon},
        data() {
            return {
                type: ''
            }
        },
        created() {
            this.type = this.$sociotypes.find(item => item.link === this.$route.params.id);
        },
        destroyed() {
            this.type = ''
        },
        methods: {
            back() {
                this.$router.go(-1)
            }
        }
    }
</script>
