<template>
        <label :for="id" class="radio">
            <input type="radio"
                   :id="id"
                   :name="name"
                   v-on:input="$emit('input', $event.target.value)"
            />
            <span class="radio__text">{{label}}</span>
        </label>
</template>

<script>
    export default {
        name: "InputRadio",
        props: {
            id: {
                type: String,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            value: {},
            label: {
                type: String,
                required: true
            }
        }
    }
</script>
