<template>
    <button v-on:click="scrollToTop" class="button _scroll-top">
        <Icon xlink="back" fill="#FFF" view-box="0 0 24 24"/>
    </button>
</template>

<script>
    import Icon from "./icons/Icon";

    export default {
        name: "ScrollTopButton",
        components: {Icon},
        methods: {
            scrollToTop() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                });
            },
        }
    }
</script>
