<template>
    <div class="group-card">
        <div class="group-card__title">
            <div class="group-card__title_icon">
                <Icon :xlink="type.icon" fill="#FFF" view-box="0 0 24 24"/>
            </div>
            <h2>{{type.name}}</h2>
        </div>
        <div class="group-card__text">
            <p v-for="i in type.specification" :key="i.id">{{i}}</p>
        </div>
        <div class="group-card__show-hide">
            <button v-on:click="ShowHide">
                <span>{{isHidden ? 'Показать представителей' : 'Скрыть'}}</span>
            </button>
        </div>
        <transition name="fade">
            <div class="group-card__cards" v-if="!isHidden">
                <STypeCard v-for="item in items"
                           :key="item.id"
                           :type="item"/>
            </div>
        </transition>
    </div>
</template>

<script>
    import Icon from "./icons/Icon";
    import STypeCard from "./STypeCard";

    export default {
        name: "SGroupCard",
        components: {STypeCard, Icon},
        data(){
            return {
                isHidden: true
            }
        },
        props: {
            type: Object,
            group: Object
        },
        computed: {
            items() {
                return this.$sociotypes.filter(item => item.group === this.type.name)
            }
        },
        methods: {
            ShowHide() {
                this.isHidden = !this.isHidden
            }
        }
    }
</script>

<style lang="scss" scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .2s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
    .fade-enter-active {
        height: 440px;
    }
    .fade-leave-active {
        height: 0;
    }
</style>
