<template>
    <router-link :to="`type/${type.link}`" class="type-card__wrapper">
        <div class="type-card">
            <div class="type-card__icon">
                <Icon :xlink="type.groupIcon" fill="#172A3F" view-box="0 0 24 24"/>
            </div>
            <img :src="require(`@/assets/images/avatars/${type.avatar}.jpg`)" class="type-card__img" alt="avatar"/>
            <div class="type-card__name">
                <span>{{type.nickname}}</span>
            </div>
            <div class="type-card__type">
                <span>{{type.name}}</span>
            </div>
        </div>
    </router-link>
</template>

<script>
    import Icon from "./icons/Icon";

    export default {
        name: 'STypeCard',
        components: {Icon},
        props: {
            type: Object
        }
    }
</script>

