<template>
    <div class="tooltip" @mouseover="mouseover" @mouseleave="mouseleave">
        <slot/>
        <div v-if="show"
             class="tooltip__title">{{title}}
        </div>
    </div>
</template>

<script>
    export default {
        name: "Tooltip",
        data() {
            return {
                show: false
            }
        },
        props: {
            title: {
                type: String,
                required: true
            }
        },
        methods: {
            mouseover() {
                this.show = true;
            },
            mouseleave() {
                this.show = false;
            }
        }
    }
</script>

