<template>
    <svg width="0" height="0" style="position: fixed">
        <defs>
            <g id="alpha">
                <path d="M22.4,20.2h-0.2L13.4,1.6c-0.3-0.5-0.8-0.9-1.4-0.9s-1.2,0.4-1.4,0.9L1.8,20.2H1.6c-0.9,0-1.6,0.7-1.6,1.5
	c0,0.9,0.7,1.5,1.6,1.5h3.6c0.9,0,1.6-0.7,1.6-1.5c0-0.8-0.7-1.5-1.5-1.5l1.5-3.1h10.5l1.5,3.1c-0.8,0-1.5,0.7-1.5,1.5
	c0,0.9,0.7,1.5,1.6,1.5h3.6c0.9,0,1.6-0.7,1.6-1.5C24,20.9,23.3,20.2,22.4,20.2z M8.2,14L12,6l3.8,8H8.2z"></path>
            </g>
            <g id="beta">
                <path d="M19,12c1.4-1.3,2.2-3.1,2.2-5.1c0-3.8-3.1-6.9-6.9-6.9H4.5c-1,0-1.8,0.8-1.8,1.8V12v10.2c0,1,0.8,1.8,1.8,1.8h9.8
	c3.8,0,6.9-3.1,6.9-6.9C21.3,15.1,20.4,13.3,19,12z M6.4,3.6h8c1.8,0,3.3,1.5,3.3,3.3s-1.5,3.3-3.3,3.3h-8V3.6z M14.4,20.4h-8v-6.5
	h8c1.8,0,3.3,1.5,3.3,3.3S16.2,20.4,14.4,20.4z"></path>
            </g>
            <g id="delta">
                <path d="M22.4,24H1.6c-0.6,0-1.1-0.3-1.4-0.8c-0.3-0.5-0.3-1.1-0.1-1.6L10.5,0.9C10.8,0.4,11.4,0,12,0c0.6,0,1.2,0.4,1.5,0.9
	l10.4,20.7c0.3,0.5,0.2,1.1-0.1,1.6C23.5,23.7,22.9,24,22.4,24z M4.3,20.7h15.4L12,5.3L4.3,20.7z"></path>
            </g>
            <g id="gamma">
                <path d="M18.6,0C17.7,0,17,0.7,17,1.6v0.2H5.4c-0.9,0-1.6,0.7-1.6,1.6s0.7,1.6,1.6,1.6H6v15.6H5.7c-0.9,0-1.6,0.7-1.6,1.6
	c0,0.9,0.7,1.6,1.6,1.6h3.8c0.9,0,1.6-0.7,1.6-1.6c0-0.9-0.7-1.6-1.6-1.6H9.2V5.1H17v0.2C17,6.3,17.7,7,18.6,7s1.6-0.7,1.6-1.6V1.6
	C20.2,0.7,19.5,0,18.6,0z"></path>
            </g>
            <g id="sociology">
                <path d="M41.9,31.6c-0.5,0-1,0.1-1.5,0.2L28.7,13.5c0.9-1,1.4-2.4,1.4-3.8c0-3.3-2.7-5.9-6.1-5.9S18,6.5,18,9.7
	c0,1.4,0.5,2.8,1.4,3.8L7.6,31.8c-0.5-0.1-1-0.2-1.5-0.2c-3.4,0-6.1,2.7-6.1,5.9s2.7,5.9,6.1,5.9c2.7,0,5-1.7,5.8-4.1h6.3
	c0.8,2.4,3.1,4.1,5.8,4.1s5-1.7,5.8-4.1h6.3c0.8,2.4,3.1,4.1,5.8,4.1c3.4,0,6.1-2.7,6.1-5.9S45.3,31.6,41.9,31.6z M6.2,39.8
	c-1.3,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3s2.3,1,2.3,2.3S7.5,39.8,6.2,39.8z M24,7.4c1.3,0,2.3,1,2.3,2.3S25.3,12,24,12
	c-1.3,0-2.3-1-2.3-2.3S22.8,7.4,24,7.4z M18.3,35.7H12c-0.2-0.7-0.6-1.4-1.1-2l11.4-17.7v15.9C20.3,32.5,18.9,33.9,18.3,35.7z
	 M24,39.8c-1.3,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3S25.3,39.8,24,39.8z M36.1,35.7h-6.3c-0.6-1.8-2.1-3.2-3.9-3.8
	V16.1l11.4,17.7C36.8,34.3,36.4,35,36.1,35.7z M41.9,39.8c-1.3,0-2.3-1-2.3-2.3s1-2.3,2.3-2.3s2.3,1,2.3,2.3S43.2,39.8,41.9,39.8z"
                ></path>
            </g>
            <g id="back">
                <path d="M10.4,12l8.1-8.1c0.9-0.9,0.9-2.3,0-3.2s-2.4-0.9-3.2,0l-9.8,9.7c-0.4,0.4-0.6,1-0.6,1.6c0,0.6,0.2,1.2,0.6,1.6l9.7,9.8
			c0.4,0.4,1,0.6,1.6,0.6c0.6,0,1.2-0.2,1.6-0.6c0.9-0.9,0.9-2.3,0-3.2L10.4,12z M17.4,22.2c-0.2,0.2-0.7,0.2-1,0l-9.8-9.7
			c-0.2-0.2-0.2-0.3-0.2-0.5c0-0.2,0.1-0.3,0.2-0.5l9.8-9.7c0.1-0.2,0.2-0.2,0.5-0.2s0.3,0.1,0.5,0.2c0.2,0.2,0.2,0.7,0,1l-8.7,8.7
			c-0.2,0.2-0.2,0.3-0.2,0.6s0.1,0.4,0.2,0.6l8.7,8.7C17.6,21.5,17.6,21.9,17.4,22.2z"></path>
            </g>
        </defs>
    </svg>
</template>

<script>
    export default {
        name: "Sprite"
    }
</script>

<style scoped>

</style>