<template>
    <div id="app">
        <Sprite/>
        <div id="nav" class="navigation">
            <router-link to="/" class="navigation__link-home" title="Главная">
                <Icon xlink="sociology" fill="#EF3124" view-box="0 0 48 48"/>
            </router-link>
            <router-link to="/" class="navigation__link">Социотипы</router-link>
            <router-link to="/groups" class="navigation__link">Группы</router-link>
            <router-link to="/test" class="navigation__link">Тест</router-link>
        </div>
        <div class="sheet">
            <router-view/>
        </div>
        <footer class="footer">
            <p>Весь используемый материал взят с просторов интернета.</p>
        </footer>
        <ScrollTopButton/>
    </div>
</template>

<style lang="scss" typeof="text/scss">
    @import "assets/style/main.scss";
</style>
<script>
    import Icon from "./components/icons/Icon";
    import Sprite from "./components/icons/Sprite";
    import ScrollTopButton from "./components/ScrollTopButton";

    export default {
        components: {ScrollTopButton, Icon, Sprite},
    }
</script>
